@mixin card {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  margin-bottom: 8px;
  padding: 6px 8px 2px;
  border-radius: 5px;
  width: 210px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}

.boardDetails {
  width: 100%;
  text-align: center;
}
.wrapper {
  display: flex;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.boardWrapp {
  display: flex;
}

.board {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.list {
  background-color: #ebecf0;
  border-radius: 3px;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  margin: 10px;
}

.card {
  @include card;
}

.addCardBtn {
  background-color: transparent;
}

.form {
  // display: none;
  // &.active {
  //   display: block;
  // }
}

.textarea {
  width: 100%;
  border: none;
  @include card;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.submitBtn {
  background-color: #5aac44;
  border-radius: 2px;
  color: #fff;
  padding: 5px 15px;
}

.deleteBtn {
  outline: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
